@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-size: 12px;
    font-family: "Barlow", sans-serif !important;

}
.register_btn,
.mbl_login_btn{
    background: #fe4948 !important;
    letter-spacing: 1.5px;
    color: #f1f1f1;
}
.mbl_login_btn{
    background: #E88D67 !important;
}
.banner_section{
    clip-path: polygon(0 0, 100% 0, 97% 100%, 3% 100%);

}
.register_policy_txt{
    font-size: 8pt;
    text-align: justify;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%; 
    background-color: #373A40; /* Adjust the background color */
    z-index: 1000; /* Ensure it's above other elements */
    overflow-y: auto; /* Enable scrolling if content exceeds height */
}
.tradingview-widget-container{
    height: 90vh !important;
}